.login{
    position: relative;
    margin: 0 auto;
    background: #ecf0f1;
    width: 15em;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #333;
    padding: 15px;
    font-family: Arial;
    
}
h2 {
    text-align: center;
    font-weight: 200;
    font-size: 2em;
    margin-top: 10px;
    color: #34495e;
  }
.form {
    padding-top: 20px
}
button {
    width: 80%;
    margin-bottom: 25px;
    height: 40px;
    border-radius: 5px;
    outline: 0;
  }
input{
    display: flex;
    border: 1px solid #bbb;
    padding: 0 0 0 10px;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    
}
p{
   text-align: center; 
}